body{
  background: url('../images/Rainbow.jpg');
  background-size: contain;
  background-color: #FFF;
  background-repeat: repeat-x;
}
.container{
  background-color: #FFF;
  padding: 0 20px;
  width: 1200px!important;
  position: relative;
  top: 20px !important;
  border-radius: 5px;
}
div.app{
  display: flex;
}
div.game{
  margin-right: 20px;
}
div.rules{
  margin-left: 20px;
}
.main-title{
  text-align: center;
}
label{
  display: default!important;
}
div.ui.card{
  width: 200px;
}
div.ui.card div.image{
  margin: 0 auto;
  width: 108.5px;
}
.ui.buttons{
  width: 100%;
  margin-top: 15px;
  padding-bottom: 1px;
  border-bottom: 1px solid purple;
  border-radius: 3px;
}
.ui.button{
  position: relative!important;
  bottom: -1px!important;
}
h2{
  margin-bottom: 0;
  padding-bottom: 0;
}
.h2-rules{
  margin-bottom: 32px;
}
input{
  margin: 5px 0 12px 0;
}
.reset-btn{
  border-left: 1px solid purple!important;
  border-right: 1px solid purple!important;
}
.purple-btn:hover{
  background-color: purple!important;
  color: white!important;
}
.red-btn:hover{
  background-color: red!important;
  color: white!important;
}
.orange-btn:hover{
  background-color: orange!important;
  color: white!important;
}
.green-btn:hover{
  background-color: green!important;
  color: white!important;
}
.teal-btn:hover{
  background-color: teal!important;
  color: white!important;
}
.logo{
  margin-top: 5px!important;
}
span{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.ui.left.icon.input{
  width: 60%!important;
}
.grid{
  margin-bottom: 10px;
}

@media (min-width: 500px) and (max-width: 590px) {
  div.ui.container{
    width: 100%!important;
    margin-left: 0px!important;
    padding: 0 5px 0 5px;
  }
  div.app{
    flex-wrap: wrap;
  }
  div.presets{
    margin: 20px auto;
    display: flex!important;
    flex-direction: row!important;
    width: 465px;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    .ui.red.card{
      margin-top: 14px;
    }
    .ui.card{
      width: 228px!important;
      padding: 0;
      
    }
    .button{
      height: 100%;
    }
  }
  div.cells{
    width: '19px'!important;
    height: '19px'!important;
  }
  div.game{
    margin: 0 auto;
  }
  div.grid{
    grid-template-columns: repeat(26, 18px)!important;
    grid-template-rows: repeat(33, 18px)!important;
  }
  div.accordion{
    margin: 0 auto;
    margin-bottom: 20px;
    width: 470px!important;
  }
  body{
    background-repeat: no-repeat!important;
  }
}
@media (min-width: 591px) and (max-width: 795px){
  div.app{
    flex-wrap: wrap;
  }
  div.game{
    margin: 0 auto;
  }
  div.presets{
    margin: 20px auto;
    display: flex!important;
    flex-direction: row!important;
    width: 515px;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    .ui.red.card{
      margin-top: 14px;
    }
    .ui.card{
      width: 250px!important;
      padding: 0;
      
    }
    .button{
      height: 100%;
    }
  }
  div.accordion{
    margin: 0 auto;
    margin-bottom: 20px;
    width: 517px!important;
  }
}
@media (min-width: 794px) and (max-width: 1174px) {
  div.app{
    flex-wrap: wrap;
  }
  div.game{
    margin-left: auto;
  }
  div.presets{
    margin-right: auto;
  }
  div.accordion{
    margin: 20px auto;
    width: 737px!important;
  }
}
